<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pagerduty On Call Event Fixer</title>
  </head>
  <body>
    <h1>Pagerduty On Call Event Fixer</h1>
    <form action="<%= webcal_url %>" method="get" accept-charset="utf-8">
      <p>
        <label for="pagerduty_feed">Pagerduty calendar feed:
        <input type="text" name="pagerduty_feed" value="" id="pagerduty_feed">
        </label>
      </p>
      <p><input type="submit" value="Continue &rarr;"></p>
    </form>
  </body>
</html>
